    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="/data/css/exsete.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/data/js/hovereff.js" async defer></script>
    <script type="text/javascript" src="/data/js/height.js" async></script>
    <script src="/data/js/contact.js" async defer></script>
</html>
