    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--bootstarp-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async="async" defer="defer"></script>
    <!--External css-->
    <link rel="stylesheet" type="text/css" href="/data/css/exsete.css"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--loading animation in the begining-->
    <script type="text/javascript" src="/data/js/loader.js" async="async" defer="defer"></script>
    <!--hovering effects-->
    <script type="text/javascript" src="/data/js/hovereff.js" async="async" defer="defer"></script>
    <!--height related issues-->
    <script type="text/javascript" src="/data/js/height.js" async="async" defer="defer"></script>
    <script type="text/javascript" src="/data/js/formValidate.js" async="async" defer="defer"></script>
    <!--Contact page-->
    <script type="text/javascript" src="/data/js/contact.js" async="async" defer="defer"></script>
    <!--change element type-->
    <script type="text/javascript" src="/data/js/changeElementType.js" async="async" defer="defer"></script>
    <!--Collapse script-->
    <script type="text/javascript" src="/data/js/collapse.js" async="async" defer="defer"></script>
    <script type="text/javascript" src="/data/js/parallax.js" async="async" defer="defer"></script>
    <script type="text/javascript" src="/data/js/scrollSmooth.js" async="async" defer="defer"></script>
    <!--include jQuery Validation Plugin-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js" type="text/javascript" async="async" defer="defer"></script>

</html>
