<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="Exsete, Freidae, Daku, Nukkad Naatak, Web Consultancy, Exsete Home Page, Web Site Building"/>
        <meta name="description" content="{{ site.description }}"/>
        <!--Favicon-->
        <link rel="shortcut icon" href="/data/img/favicon.ico" type="image/x-icon"/>
        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async="async"></script>
    </head>
<body>
    <!--Starting loader-->
    <div class="se-pre-con"></div>
