<nav class="navbar navbar-default navbar-fixed-top">
    <div id="top_nav_div" class="container">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand Navbar-title-font" href="/"><img src="/data/img/logo.png" id="navbar-logo" alt="exsete logo" title="exsete logo">Exsete Consulting Pvt. Ltd</a>
        </div>
        <div class="navbar-collapse collapse pull-right navbar-top-list" id="myNavbar">
            <ul class="nav navbar-nav" id="top_nav_ul">
                <li class="navbar-top-li"><a id="hme" href="/" class="navbar-li-a">Home</a></li>
                <li class="navbar-top-li"><a id="cntct" href="#" class="navbar-li-a">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
