<nav class="navbar navbar-default navbar-fixed-top">
    <div id="top_nav_div" class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand Navbar-title-font" href="/"><img src="/data/img/logo.png" id="navbar-logo" alt="exsete logo" title="exsete logo"><span class="navbar-logo-text" title="Exsete">Exsete</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse pull-right navbar-top-list" id="myNavbar">
            <ul class="nav navbar-nav" id="top_nav_ul">
                <li class="navbar-top-li"><a id="hme" href="#home" class="navbar-li-a" title="Home">Home</a></li>
                <li class="navbar-top-li"><a id="cntct" href="#contact" class="navbar-li-a" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
