<nav class="navbar navbar-default navbar-fixed-top">
    <div id="top_nav_div" class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand Navbar-title-font" href="/"><img src="/data/img/logo.png" id="navbar-logo" alt="exsete logo" title="exsete logo"><span class="navbar-logo-text" title="Exsete">Exsete</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse pull-right navbar-top-list" id="myNavbar">
            <ul class="nav navbar-nav" id="top_nav_ul">
                <li class="navbar-top-li"><a id="hme" href="#home" class="navbar-li-a anchorLink" title="Home">Home</a></li>
                <li class="navbar-top-li"><a id="abt" href="#about" class="navbar-li-a anchorLink" title="About Us">About Us</a></li>
                <li class="navbar-top-li"><a id="car" href="#career" class="navbar-li-a anchorLink" title="Careers">Careers</a></li>
                <li class="navbar-top-li m-r-0"><a id="cntct" href="#contact" class="navbar-li-a anchorLink" title="Contact">Contact</a></li>
                <li class="navbar-top-li m-r-0 hide-mobile"><div id="social-links-top">
                    <a href="https://www.linkedin.com/company/exsete-consulting-pvt--ltd-?trk=ppro_cprof"><img class="img-social-links" src="/data/img/Linkedin%20icon.png" alt="linked in icon"></a>
                    <a href="https://www.facebook.com/exsete?fref=ts"><img class="img-social-links" src="/data/img/FB%20%5B54924%5D.png" alt="facebook icon"></a>
                    </div></li>
            </ul>
        </div>
    </div>
</nav>
