.sec-img {
    height: 586px;
    width: 115%;
}

a{
    font-family: 'Century Gothic';
}

.pad-l-0 {
    padding-left: 0px;
}

.top-pad {
    padding-top: 62px;
}

#top_nav_div {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}
#navbar-logo {
    margin-top: -5%;
    width: 38%;
    margin-right: 4%;
}
.navbar-default {
    background-color: #FFFFFF;
    height: 70px;
}

.Navbar-title-font {
    color: #333366!important;
    font-size: 30px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 35.2000007629395px;
    padding-bottom: 0px;
    padding-top: 14px;
    width: 110%;
}

.navbar-top-list {
    margin-top: 1%;
    width: 16%;
}

.navbar-top-li {
    border-top: 3px solid black;
    margin-right: 10%;
}
.navbar-top-li:hover{
    border-top-color: crimson;
}

#top_nav_ul {
    width: 100%;
}

.navbar-li-a {
    font-family: 'Century Gothic';
    font-size: 1em;
    font-weight: bold;
    color: #000000!important;
}
.navbar-li-a:hover {
    color: crimson!important;
}

.pad-t-15-lr-0 {
    padding-top: 19px;
    padding-left: 0px;
    padding-right: 0px;
}

.mar-l-12 {
    margin-left: 12%;
}

.pad-0 {
    padding: 0px;
}

.mar-r-12 {
    margin-right: 12%;
}

.grey-col {
    background-color: darkgrey;
}

.heading-con {
    text-align: center;
    font-family: 'Century Gothic';
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 35.2000007629395px;
    color: #ffffff;
}

.bakgrnd-con {
    background-color: rgba(102,204,255,0.64);
    background: -webkit-linear-gradient(bottom,rgba(102,204,255,0),rgba(102,204,255,0.9)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(102,204,255,0),rgba(102,204,255,0.9)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(102,204,255,0),rgba(102,204,255,0.9)); /*Fx 3.6-15*/
    background: linear-gradient(to top,rgba(102,204,255,0), rgba(102,204,255,0.9)); /*Standard*/
    overflow: overlay;
}

.margin-lr-0 {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-top: 0px;
    height: auto;
}

.form-control {
    width: 60%;
    background-color: rgba(255,255,255,.72);
    text-align: center;
    font-family: 'Century Gothic';
    color: #000000;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 304px;
    height: 50px;
}

#btn-submit {
      background: #89ccdd;
      height: 34px;
      margin-left: auto!important;
      margin-right: auto!important;
      width: 100%;
      font-size: 16px;
      margin-top: 9px
    }

.btn-div {
      width: 23%;
      min-width: 145px;
      margin-left: auto;
      margin-right: auto;
}

#comment {
    height: auto!important;
}

.p-details {
      margin-top: 0%;
      margin-left: 19%;
      text-align: justify;
      font-size: 20px;
      font-family: 'Century Gothic';
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      line-height: 35.2000007629395px;
}

.cont-font-col {
    color: #333366;
}

.cont-bottom-txt {
    width: 98%;
    position: relative;
    bottom: -117px;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 12px;
}

#sel1 {
    padding-left: 20%;
    padding-right: 2%;
}

#myNavbar {
    min-width: 210px;
}

.margin-top {
    margin-top: 100px
}

#section-1,#section-2,#section-3{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
#section-sub-1,#section-sub-2,#section-sub-3{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    padding-left: 10%;
}
.backgrnd-img-hm {
    padding-top: 41px;
    width: 100%;
}

.section-div {
      height: 1000px;
      width: 33%;
      position: absolute;
      bottom: 0px;
}

.div-box-bck {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 59px;
    padding-left: 20%;
    padding-top: 10px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}

.text-home {
    color: white;
    font-family: 'Century Gothic';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.divider-div {
    height: 630px;
    margin-top: -76%;
    width: 0.33%;
    padding: 0px;
    background-color: rgba(0,0,0,0.2);
}

#section-2 {
    margin-left: 33%;  
}

#divider-div-1 {
    margin-left: 33%;
}

#divider-div-2 {
    margin-left: 66%;
}

#section-3 {
    margin-left: 66%;
    width: 34%;
}

.text-details {
    display: none;
    color: white;
    font-family: 'Century Gothic';
    font-size: 16px;
    text-align: justify;
}

.hover-background-l{
    background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}

.hover-background-r{
    background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}

#overlay {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

#popup {
    background: #f5f5f5;
    border-radius: 25px;
    bottom: 37%;
    display: none;
    height: 133px;
    left: 43%;
    position: fixed;
    right: 43%;
    top: 37%;
    width: 20%;
    z-index: 100
}

#loading-indicator-rchus {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 11px
}

#sndg-msg-rchus {
    text-align: center;
}

.notice {
    background-color: rgba(0, 0, 0, 0);
    color: #a94442;
    display: none;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    word-wrap: break-word
}

.courtesy-sml {
    color: initial;
}

.mobile-display {
    display: none;
}

#Button-txt {
    text-align: center;
}

.symbol {
    width: 15%;
    position: absolute;
    top: 6px;
    left: 57%;
}

#Nukkad-Natak-symbol {
    left: 76%;
    width: 19%;
    top: 15px;
}

#Daku-symbol {
    width: 24%;
    top: 16px;
}

/* This only works with JavaScript,
if it's not present, don't show loader */
/*shows loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/data/img/ajax-loader.GIF) 43% no-repeat, url(/data/img/logo.png) center no-repeat;
    background-color: #fff;
}

@media (max-width: 768px)
{
    .navbar-top-list{
        background-color: white;
        height: 97px;
        border-top: white;
        margin-top: -8px;
    }
    .navbar-top-li{
        width: 113%;
    }
    .navbar-brand{
        width: 82%;
        padding-left: 2%;
        padding-top: 3%;
    }
    #navbar-logo{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        margin-top: -1%;
    }
    .navbar-default{
        height: 61px;
    }
    .navbar-logo-text{
        padding-left: 4%;
        margin-left: auto;
        margin-right: auto;
        width: 97%;
    }
    .navbar-toggle{
        margin-top: 4%;
    }
    #top_nav_div{
        height: 61px;
    }
    .navbar-header{
        width: 107%;
        height: 61px;
    }
    .section-div{
        display: block;
        width: 100%;
        height: 102px;
        margin-top: 0%;
    }
    .div-box-bck{
        height: 102px;
    }
    #section-2{
        margin-top: -99%;
        margin-left: 0%;
    }
    #section-3{
        width: 100%;
        margin-left: 0%;
        margin-top: -96%;
    }
    .heading-con{
        margin-top: 2%;
    }
    .margin-top{
        margin-top: 4%;
    }
    .p-details{
        margin-left: auto;
        margin-top: -2%;
        text-align: center;
    }
    .hide-mobile{
        display: none;
    }
    .mobile-display{
        display: block;
    }
    .cont-bottom-txt{
        margin-bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .divider-div{
        visibility: hidden;
    }
    #section-2,#section-3{
        position: absolute;
    }
}

