body{
    font-family: "Century Gothic";
    color: white;
}

.sec-img {
    height: 586px;
    width: 115%;
}

a{
    font-family: 'Century Gothic';
}
a:hover{
    transition: all 0.5s ease;
}

.pad-l-0 {
    padding-left: 0px;
}

.top-pad {
    padding-top: 62px;
}

#top_nav_div {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}
#navbar-logo {
    margin-top: -5%;
    width: 38%;
    margin-right: 4%;
    display: inline;
}
.navbar-default {
    background-color: #FFFFFF;
    height: 70px;
    box-shadow: 0px 1px 10px black;
}

.Navbar-title-font {
    color: #333366!important;
    font-size: 30px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 35.2000007629395px;
    padding-bottom: 0px;
    padding-top: 14px;
    width: 110%;
}

.navbar-top-li {
    margin-right: 4%;
}
.navbar-top-li:hover{
    border-top: 3px solid crimson;
}

#top_nav_ul {
    width: 100%;
}

.navbar-li-a {
    font-family: 'Century Gothic';
    font-size: 1em;
    font-weight: bold;
    color: #000000!important;
}
.navbar-li-a:hover {
    color: crimson!important;
}

.focused{
    border-top: 3px solid crimson;
    color: crimson!important;
}

.pad-t-15-lr-0 {
    padding-top: 19px;
    padding-left: 0px;
    padding-right: 0px;
}

.mar-l-12 {
    margin-left: 12%;
}

.pad-0 {
    padding: 0px;
}

.mar-r-12 {
    margin-right: 12%;
}

.back-col {
    background-color: #000033;
}

.heading-con {
    text-align: center;
    font-family: 'Century Gothic';
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 35.2000007629395px;
    color: #ffffff;
}

.bakgrnd-con {
    background-color: rgba(0,0,51,1);
    background: -webkit-linear-gradient(bottom,rgba(0,0,51,0.4), rgba(0,0,51,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(0,0,51,0.4), rgba(0,0,51,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(0,0,51,0.4), rgba(0,0,51,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top,rgba(0,0,51,0.4), rgba(0,0,51,1)); /*Standard*/
}

.home-div-pos {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-top: 0px;
    position: relative;
    height: auto;
}

.form-control {
    background-color: transparent;
    text-align: center;
    font-family: 'Century Gothic';
    color: #000000;
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 304px;
    height: 50px;
    border:none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#btn-submit {
      background: #89ccdd;
      height: 34px;
      margin-left: auto!important;
      margin-right: auto!important;
      width: 100%;
      font-size: 16px;
      margin-top: 9px
    }

.btn-div {
      width: 23%;
      min-width: 145px;
      margin-left: auto;
      margin-right: auto;
}

#comment {
    height: auto!important;
}

.p-details {
      margin-top: 0%;
      margin-left: 19%;
      text-align: justify;
      font-size: 20px;
      font-family: 'Century Gothic';
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      line-height: 35.2000007629395px;
}

.cont-font-col {
    color: #333366;
}

.cont-bottom-txt {
    color: black;
    width: 98%;
    position: relative;
    bottom: -97px;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 12px;
}

#sel1 {
    padding-left: 20%;
    padding-right: 2%;
}

#myNavbar {
    width: 30%;
    min-width: 375px;
    margin-top: 1%;
}

.margin-top {
    margin-top: 100px
}

#section-1,#section-2,#section-3{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
#section-sub-1,#section-sub-2,#section-sub-3{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    padding-left: 10%;
}
.backgrnd-img-hm {
    padding-top: 41px;
    width: 100%;
}

.section-div {
      height: 1000px;
      width: 33%;
      position: absolute;
      bottom: 0px;
}

.div-box-bck {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 59px;
    padding-left: 20%;
    padding-top: 10px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}
@media (min-width: 481px){
    .div-box-bck {
        bottom: 0;
    }
}

.text-home {
    color: white;
    font-family: 'Century Gothic';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}



#section-2 {
    margin-left: 33%;  
}

#section-3 {
    margin-left: 66%;
    width: 34%;
}

.text-details {
    display: none;
    color: white;
    font-family: 'Century Gothic';
    font-size: 16px;
    text-align: justify;
}

.hover-background-l{
    background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}

.hover-background-r{
    background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.35)); /*Fx 3.6-15*/
    background: linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0.35)); /*Standard*/
}

#overlay {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

#popup {
    background: #f5f5f5;
    border-radius: 25px;
    bottom: 37%;
    display: none;
    height: 133px;
    left: 43%;
    position: fixed;
    right: 43%;
    top: 37%;
    width: 20%;
    z-index: 100
}

#loading-indicator-rchus {
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 11px
}

#sndg-msg-rchus {
    text-align: center;
}

.notice {
    background-color: rgba(0, 0, 0, 0);
    color: #a94442;
    display: none;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    word-wrap: break-word
}

.courtesy-sml {
    color: initial;
}

.mobile-display {
    display: none;
}

#Button-txt {
    text-align: center;
}

.symbol {
    width: 15%;
    position: absolute;
    top: 2px;
    right: 10%;
}

#Nukkad-Natak-symbol {
    left: 76%;
    width: 19%;
    top: 8px;
}

#Daku-symbol {
    width: 24%;
    top: 6px;
}

/* This only works with JavaScript,
if it's not present, don't show loader */
/*shows loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }


#freidae-symbol {
    max-width: 51px;
}

.backgrnd-img {
    background-image: url(/data/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#image-text {
    position: absolute;
    top: 18.7%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    padding: 14px 0;
    font-family: Century Gothic;
}

#logo-name {
    font-size: 36px;
    line-height: normal;
}

#logo-phonetics {
    font-size: 20px;
    line-height: normal
}

#logo-pos {
    font-size: 15px;
    font-style: italic;
    line-height: normal;
    font-family: Century Light;
    word-wrap: break-word;
}

#logo-def-ol {
    font-size: 15px;
    font-weight: 100;
    line-height: 15.6000003814697px;
    padding: 0 0 0 40px;
    word-wrap: break-word;
}

.logo-def-li {
    padding: 20px 0;
}
.tooltipster-punk {
    border-radius: 5px;
    border-bottom: 3px solid #f71169;
    background: #2a2a2a;
    box-shadow: 2px 0px 9px 2px #ccc;
    color: #f71169;
}
.tooltipster-punk .tooltipster-content {
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

#links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.m-r-0 {
    margin-right: 0;
}

.pagelink {
    position: relative;
    top: -71px;
    display: block;
    visibility: hidden;
    width: 100%;
}



.centre-txt {
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
    font-weight: 600;
}

.flex-outside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-inside {
    display: flex;
    justify-content: center;
    margin: 20px 0 4px 0;
}

.about-img {
    max-width: 170px;
    max-height: 200px;
    width: 100%;
    min-width: 70px;
}

.abt-img-txt {
    display: block;
    text-align: center;
}

.flex-ele {
    margin: 5px;
    order: 1;
    max-width: 200px;
}

#last-flex-module {
    flex-direction: column;
    align-items: center;
}

.scroller {
    width: 13%;
    min-width: 120px;
    display: flex;
    justify-content: space-around;
    height: 24px;
    margin: 5% 0 3% 0;
}

.scroll-arw {
    display: inline;
    width: 24%;
    margin: 0 9%;
}

.txt-white {
    color: white;
}

.txt-center {
    text-align: center;
}

.txt-black {
    color: black;
}



.openings-header {
    font-weight: 600;
    padding-left: 2%;
    cursor: pointer;
}

.padding-0 {
    padding: 0;
}

#car-hdr {
    padding-left: 2%;
}

#jobs-heading {
    padding-left: 2%;
}

.job-dtl {
    color: black;
    padding: 2%;
    display: none;
}

#car-fotr {
    text-align: center;
    margin: 20px 0 10px 0;
}

#team-img {
    background-image: url(/data/img/team-img.jpg);
    height: 230px;
    background-position: center;
    background-size: cover;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.disp-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*For mobile*/
@media (max-width: 480px)
{
    .navbar-top-list{
        background-color: white;
        height: auto;
        border-top: white;
        margin-top: -8px;
    }
    .navbar-top-li{
        width: 113%;
    }
    .navbar-brand{
        width: auto;
        padding-left: 2%;
        padding-top: 3%;
        display: inline-flex;
    }
    #navbar-logo{
        width: 32%;
        margin-top: -1%;
    }
    .navbar-default{
        height: 61px;
    }
    .navbar-logo-text{
        padding-left: 4%;
        margin-right: auto;
        width: auto;
    }
    .navbar-toggle{
        margin-top: 4%;
    }
    #top_nav_div{
        height: 61px;
    }
    .navbar-header{
        width: 107%;
        height: 61px;
    }
    .section-div{
        display: block;
        width: 100%;
        height: 102px;
        margin-top: 0%;
    }
    .div-box-bck{
        height: 102px;
    }
    .heading-con{
        margin-top: 2%;
    }
    .margin-top{
        margin-top: 4%;
    }
    .p-details{
        margin-left: auto;
        margin-top: -2%;
        text-align: center;
    }
    .hide-mobile{
        display: none;
    }
    .mobile-display{
        display: block;
    }
    .cont-bottom-txt{
        margin-bottom: 0px;
        left: 0px;
        width: 100%;
        bottom: -100px;
    }
    .divider-div{
        visibility: hidden;
    }
    #section-1,#section-2,#section-3{
        position: static;
        padding: 0;
        margin: 0;
        min-height: 45px;
        width: 100%;
    }
    .se-pre-con {
        background: url(/data/img/ajax-loader.GIF) 22% no-repeat, url(/data/img/logo.png) center no-repeat;
        background-color: #fff;
    }
    .footer {
        position: relative;
        bottom: 36px;
    }
    #image-text {
        top: 10%;
        padding: 14px 11px;
    }
    .backgrnd-img{
        background-image: url(/data/img/background-m.jpg);
        background-size: 100% 100%;
    }
    #section-t-1,#section-t-2,#section-t-3{
        padding: 0 5% 3% 5%;
    }
    #links{
        height: auto;
    }
    .mobile-width {
        width: 18%;
    }
    #you-img {
        max-width: 116px;
    }
    #myNavbar {
        min-width: 210px;
        margin-top: -2.3%;
    }
    .pagelink{
        top:-61px;
    }
    .flex-outside.font-18{
        font-size: 12px;
    }
}

label {
    color:#999999;
    font-size:20px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition: 0.3s ease all;
    -moz-transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
}
input:focus ~ label, input:valid~label{
    top:-20px;
    font-size:14px;
    color:#fff;
}

.form-group {
    position: relative;
    margin-bottom: 45px;
}

.hBar {
    position:relative;
    display:block;
    width:100%;
}
.hBar:before, .hBar:after{
    content:'';
    height:2px;
    width:0;
    bottom:4px;
    position:absolute;
    background:#fff;
    transition:0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition:0.3s ease all;
}

.hBar:before{
    left:50%;
}

.hBar:after{
    right:50%;
}

input:focus ~ .hBar:before, input:focus ~ .hBar:after{
    width:50%;
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}
input:focus ~ .highlight{
    -webkit-animation:inputHighlighter 0.4s ease;
    -moz-animation:inputHighlighter 0.4s ease;
    animation:inputHighlighter 0.4s ease;
}

@-webkit-keyframes inputHighlighter {
    from{
        background:#5264AE;
    }
    to{
        width:0;
        background:transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from{
        background:#5264AE;
    }
    to{
        width:0;
        background:transparent;
    }
}

@keyframes inputHighlighter{
    from{
        background:#5264AE;
    }
    to{
        width:0;
        background:transparent;
    }
}
